parameters:
  level: 5
  paths:
    - focal-point-picker.php
    - src/
  scanDirectories:
    - vendor/.wordpress
    - vendor/wp-cli/wp-cli
  ignoreErrors:
    - '#Constant WPFP_PLUGIN_URI not found#'
    - '#Constant WPFP_PLUGIN_DIR not found#'